<%= form_for(@agency) do |f| %>
  <% if @agency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agency.errors.count, "error") %> prohibited this agency from being saved:</h2>

      <ul>
      <% @agency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :agency_phone %><br />
    <%= f.text_field :agency_phone %>
  </div>
  <div class="field">
    <%= f.label :agency_url %><br />
    <%= f.text_field :agency_url %>
  </div>
  <div class="field">
    <%= f.label :agency_id %><br />
    <%= f.text_field :agency_id %>
  </div>
  <div class="field">
    <%= f.label :agency_name %><br />
    <%= f.text_field :agency_name %>
  </div>
  <div class="field">
    <%= f.label :agency_timezone %><br />
    <%= f.text_field :agency_timezone %>
  </div>
  <div class="field">
    <%= f.label :agency_lang %><br />
    <%= f.text_field :agency_lang %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
