<h1>Listing agencies</h1>

<table>
  <tr>
    <th>Agency phone</th>
    <th>Agency url</th>
    <th>Agency</th>
    <th>Agency name</th>
    <th>Agency timezone</th>
    <th>Agency lang</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agencies.each do |agency| %>
  <tr>
    <td><%= agency.agency_phone %></td>
    <td><%= agency.agency_url %></td>
    <td><%= agency.agency_id %></td>
    <td><%= agency.agency_name %></td>
    <td><%= agency.agency_timezone %></td>
    <td><%= agency.agency_lang %></td>
    <td><%= link_to 'Show', agency %></td>
    <td><%= link_to 'Edit', edit_agency_path(agency) %></td>
    <td><%= link_to 'Destroy', agency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agency', new_agency_path %>
