<p id="notice"><%= notice %></p>

<p>
  <b>Service:</b>
  <%= @calendar.service_id %>
</p>

<p>
  <b>Start dat:</b>
  <%= @calendar.start_dat %>
</p>

<p>
  <b>End date:</b>
  <%= @calendar.end_date %>
</p>

<p>
  <b>Monday:</b>
  <%= @calendar.monday %>
</p>

<p>
  <b>Tuesday:</b>
  <%= @calendar.tuesday %>
</p>

<p>
  <b>Wednesday:</b>
  <%= @calendar.wednesday %>
</p>

<p>
  <b>Thursday:</b>
  <%= @calendar.thursday %>
</p>

<p>
  <b>Friday:</b>
  <%= @calendar.friday %>
</p>

<p>
  <b>Saturday:</b>
  <%= @calendar.saturday %>
</p>

<p>
  <b>Subday:</b>
  <%= @calendar.subday %>
</p>


<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
