<p id="notice"><%= notice %></p>

<p>
  <b>Service:</b>
  <%= @calendar_date.service_id %>
</p>

<p>
  <b>Date:</b>
  <%= @calendar_date.date %>
</p>

<p>
  <b>Exception type:</b>
  <%= @calendar_date.exception_type %>
</p>


<%= link_to 'Edit', edit_calendar_date_path(@calendar_date) %> |
<%= link_to 'Back', calendar_dates_path %>
